﻿@charset "utf-8";

/*
Project  : HCDC Group
Author  : Kathia Teran
Version : Test 2
Date    : Oct/2016
*/

/*---------------------------------------------*/
/* GLOBAL*/
/*---------------------------------------------*/
html {
	box-sizing:border-box;
	height: 100%;
	font-size: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	position: relative;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.90em;
	line-height: 1.625em; /*26px*/
	color: #000080*;
	/*Previous: #002080 #000080*/
	background: #fff;
	-webkit-font-smoothing: antialiased;
}


/* links*/
/*---------------------------*/

a {
	text-decoration: none;
	/*F43E7E*/
	-webkit-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
/*a:active, a:hover {
	color: #F43E7E;*/
/*#000000*/
  /*#F43E7E;*/
}


/* Typographie*/
/*---------------------------*/
h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
	font-weight: normal;
	  color: #1c1f26;
  /*#1c1f26*/
	margin: 0 0 0.71875em 0;
	line-height: 1.25em;
}

h1, .h1-like {
	font-size: 1.39em;
	font-weight: regular;
}

h2, .h2-like {
	font-size: 1.20em;
	font-weight: bold;
	color: #fff;
	text-align: center;
	/*padding-top: -12px;*/
}

h3, .h3-like {
	font-size: 1.24em;
	font-weight: lighter;
	color: #fff;
	text-align: center;
	padding-top: 51px;
	padding-bottom: 69px;
}

h4, .h4-like {
	font-size: 1.3em;
	color: #10206e;
	text-align: center;
	font-weight: lighter;

}

h5, .h5-like {
	font-size: 3em;
	font-weight: lighter;
	color: white;
	text-align: center;
}

p {
	margin-right: 55px;
	margin: 0 0 0.61875em 0;
	font-weight: normal;
	color: #404040;
	font-size: 114%;
	line-height: 1.6em;
	text-align: justify;
}

.founder-reformat{
	max-width: 1050px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 0.95em;
	line-height: 1.625em; /*26px*/
	color: #404040;
	text-align: justify;

}

#link-contact-us{
	margin-top:  17px;
}

#Founder-pic{
		float: right;
    margin-right: -6px;
		max-width: 180px;
		margin-top: -156px;
}

#section-title{
	font-weight: bolder;
	color: #10206e;
}

#banner {
	color: #fff;
}

/*---------------------------*/


#title-space{
	margin-top: -55px;
	line-height: 1.5;
	margin-left: -61px;
	color: #fff;
}



/*---------------------------*/

/* table */
/*---------------------------*/
table {
	width: 100%;
	margin: 0.71875em 0;
	table-layout: fixed;

}
tr,
td,
th {
	vertical-align: middle;
}
thead th {
	padding: 0.71875em 0;
	border-bottom: 2px solid #c1c1c4;
  /*#c1c1c4*/
	text-align: left;
	font-weight: 700;
}
tbody td {
	padding: 0.71875em;
	border-bottom: 1px solid #c1c1c4;
}
tbody tr:nth-child(even) {
	background: #E7E7E7;
}
/* Forms */
/* -----------------------------------------------------*/
form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
input,
label,
select {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;

}

label {
    margin-bottom: 1em;
    font-weight: 700;
    cursor: pointer;
}

label.required:after {
    content: " *";
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple=multiple] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .71875em;
    padding: .625em;
    border: 1px solid #e8e8e9;
    /*#e8e8e9*/
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #fff;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
select[multiple=multiple]:hover {
    border-color: #ceced0;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: #D35F60;
    outline: none;
    box-shadow: 0 0 5px rgba(205,75,77,.7);
}

textarea {
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: .71875em;
}

input[type="file"] {
    width: 100%;
    margin-bottom: .71875em;
    padding-bottom: .23958em;
}

select {
    width: auto;
    margin-bottom: .71875em;
    max-width: 100%;

}

fieldset {
    margin: 0 0 .71875em 0;
    padding: 1.4375em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    background: #fafafa;
}

::-webkit-input-placeholder {
    color: #c8c9ca;
}

:-moz-placeholder {
    color: #c8c9ca;
}

::-moz-placeholder {
    color: #c8c9ca;
}

:-ms-input-placeholder {
    color: #c8c9ca;
}
input[id="text_field"] {
    display: inline-block;
    width: 70%;
}
label[for="text_field"] {
    display: inline-block;
    width: 15%;
}

/* Grouping content*/
/*---------------------------*/
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
video, audio {
	max-width: 600px;
	width: 100%;
}

/* Buttons*/
/*---------------------------*/
.btn {
	display: inline-block;
	position: relative;
	margin-left: 26.5px;
	color: #fff;
	border: 2px solid #fff;
	padding: 0 1.5em;
	line-height: 2.5em;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn:hover {
	color: #fff;
	font-weight: bold;
	background-color: rgba(80, 96, 171, 0.2);
}
.btn:active {
	top: 1px;
}

.btn--small {
	font-size: 0.75em;
}
.btn--large {
	font-size: 1em;
}
.btn--secondary {
	color: #666;
	border: 1px solid #666;

}
.btn--secondary:hover {
	color: #666;
	background-color: rgba(0,0,0,0.2);
}

#space-above{
	padding-top: 1.4em;
	padding-left: 7.9em;
}


/*---------------------------------------------*/
/* CONTENT*/
/*---------------------------------------------*/
.wrap {
	padding-left: 0px;
	padding-right: 10.5%;
}
/*---------------------------------------------*/
/* grid*/
/*---------------------------------------------*/

/* mobil first */
@media (min-width: 481px) {
	.wrap {
		max-width: 1278px;
		width: 100%;
		margin-left: 12%;
		margin-right: 0;
	}


	#vertical-panel{
		width: 40px;
		height: 80px;
		color: #fff;

	}
/*
	.grid:after {
		display: table;
		content: "";
		clear: both;
	}*/
	.grid {
		margin-right: 33px;
		margin-left: -33px;
		margin-top: 14px;
		/*margin-bottom: 27px;*/
	}

#course-titles{
	margin-left: -55px;
	margin-top: -30px;

}

	.grid [class*="col-4"] {
		float: left;
		padding-left: 0;
		padding-right: 6px;
	}
	.col-1 {
		width: 8.333%;
	}
	.col-2 {
		width: 16.666%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.333%;
	}
	.col-5 {
		width: 41.667%;
	}
	.col-6 {
		width: 41.8%;
		text-align: center;
		position: relative;
		overflow: hidden;
		line-height: 36px;
	}
	#re-center{
		margin-left: -8em;
		margin-top: -3em;
	}

	.col-7 {
		width: 58.333%;
	}
	.col-8 {
		width: 66.667%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.333%;
	}
	.col-11 {
		width: 91.667%;
	}
	.col-12 {
		width: 200%;
	}
	/* table*/
	/*---------------------------*/
	.table {
		display: table;
		width: 100%;
	}
	.fixed {
		table-layout: fixed;
	}
	.row {
		display: table-row;
	}
	.cell {
		display: table-cell;
		vertical-align: top;
	}
}
/* tablet view*/
@media (min-width: 481px) and (max-width: 768px) {
	.grid-t {/*to use in HTML only if no "grid" placed in previous choregraphie*/
		margin-left: -10px;
		margin-right: -10px;
	}
	.grid-t:after {
		display: table;
		content: "";
		clear: both;
	}

	.grid-t [class*="col-t-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-t-1 {
		width: 8.333%;
	}
	.col-t-2 {
		width: 16.666%;
	}
	.col-t-3 {
		width: 25%;
	}
	.col-t-4 {
		width: 33.333%;
	}
	.col-t-5 {
		width: 41.667%;
	}
	.col-t-6 {
		width: 50%;
	}
	.col-t-7 {
		width: 58.333%;
	}
	.col-t-8 {
		width: 66.667%;
	}
	.col-t-9 {
		width: 75%;
	}
	.col-t-10 {
		width: 83.333%;
	}
	.col-t-11 {
		width: 91.667%;
	}
	.col-t-12 {
		width: 100%;
	}

}
/* mobile view*/
@media (max-width: 480px) {
	.grid-m {/*to use in HTML if you want to use grid and floats in mobile view*/
		margin-left: -10px;
		margin-right: -10px;
	}
	.grid-m:after {
		display: table;
		content: "";
		clear: both;
	}

	.grid-m [class*="col-m-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-m-1 {
		width: 8.333%;
	}
	.col-m-2 {
		width: 16.666%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.333%;
	}
	.col-m-5 {
		width: 41.667%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.333%;
	}
	.col-m-8 {
		width: 66.667%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.333%;
	}
	.col-m-11 {
		width: 91.667%;
	}
	.col-m-12 {
		width: 100%;
	}

}
/* helper*/
/*---------------------------*/

.txt-center {
	text-align: left;
}
.txt-right {
	text-align: right;
}
.txt-left {
	text-align: left;
}


.v-middle {
	vertical-align: middle;
}
.v-top {
	vertical-align: top;
}
.v-bottom {
	vertical-align: bottom;
}

.man {
	margin: 0px !important;
}
.mas {
	margin: 20px !important;
}
.mam {
	margin: 40px !important;
}
.mal {
	margin: 60px !important;
}



.mbn {
	margin-bottom: 0px !important;
}
.mbs {
	margin-bottom: 20px !important;
}
.mbm {
	margin-bottom: 40px !important;
}
.mbl {
	margin-bottom: 60px !important;
}


.mtn {
	margin-top: 0px !important;
}
.mts {
	margin-top: 20px !important;
}
.mtm {
	margin-top: 40px !important;
}
.mtl {
	margin-top: 60px !important;
}

.ptm {
	padding-top: 40px !important;
}
.pbm {
	padding-bottom: 40px !important;
}
.ptl {
	padding-top: 28px !important;
}
.pbl {
	padding-bottom: 38px !important;
}
/* header*/
/*---------------------------*/

#header {
	background: rgba(36, 36, 36, 1);
}

.logo {
	margin-left: 0;
	display: inline-block;
	height: 73px;
	width:44.3%;
	padding-top: 6px;
	padding-bottom: 5px;
  background-color: #fff;
}
.menu {

	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;


}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: right;


}
.menu li {
	display: block;

}
.menu a {
	display: block;
	padding: 1em 0em;
	font-size: 98.8%;
}


.menu .select {
	color: #000;
	}

.menu-collapse {
	display: block;
	height: auto;
	opacity: 1;
	text-align: center;

}
/* burger*/
/*---------------------------*/

.btn-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background: url('../img/menu.png') no-repeat;
	cursor: pointer;
}


/* Main*/
/*---------------------------*/
/* banner full*/
/*---------------------------*/
.banner-full {
	background: url('../img/Main-Page-TW.jpg');
	background-position: 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	width: 105vw;
	background-attachment: fixed;
}

nav
{
overflow: auto;
}

/*---------------------------*/
/*VERTICAL panel*/
/*---------------------------*/


/* banner full secondary*/
/*---------------------------*/
.banner-full-secondary-top {
	background: url('../img/About-Main-alt-3.jpg') no-repeat;
	background-position: 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height:7vh;
	width: 105vw;
}

/*
background-size: 10%;*/

.banner-full-secondary {
	background: url('../img/About-Main-alt-3.jpg') no-repeat;
	background-position: 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 3vh;
	width: 105vw;
}

.banner-full-secondary-bottom {
	background: url('../img/About-Main-alt-3.jpg') no-repeat;
	background-position: 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 9vh;
	width: 105vw;
}


/* banner one third ONE*/
/*---------------------------*/
.banner-one-third {
	background-color: #ddd;
}
.banner-one-third h1 {
	font-weight: 50;
}
.banner-one-third article {
	position: relative;
	overflow: hidden;
	height: 1900px;
}

.banner-one-third article a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
    right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.banner-one-third article img {
	display: block;
	margin-top: -20%;
}

.banner-one-third article h1, .banner-one-third article p {
	margin-bottom: 0;
	text-align: left;
}
.banner-one-third article h1 {
	text-shadow: 1px 1px 0px #3D3D3D;
	color: #fff;
	margin-top: 72px;
}

/*---------------------------*/

.banner-two-third-title {
	padding: 1em 0;
	border-bottom: 2px solid #dd1c60;
	border-top: 2px solid #dd1c60;
}


/* banner one third TWO*/
/*---------------------------*/
.banner-one-third {
	background-color: #fff;
}
.banner-one-third h1 {
	font-weight: 300;
	text-transform: uppercase;
	color
}
.banner-one-third article {
	position: relative;
	overflow: hidden;
	height: 190px;
}

.banner-one-third article a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
    right: 10px;
    -webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.banner-one-third article img {
	display: block;
	margin-top: -20%;
}

.banner-one-third article h1, .banner-one-third article p {
	margin-bottom: 0;
	text-align: center;
}
.banner-one-third article h1 {
	font-family: 'Playfair Display', serif;
	text-shadow: 1px 1px 0px #3D3D3D;
	color: #fff;
	margin-top: 72px;
	text-transform: uppercase;
}
.banner-one-third article p {
	margin: 0 0 0.61875em 0;
	font-weight: normal;
	color: #404040;
	font-size: 115%;
	line-height: 1.6em;
	text-align: justify;
	margin-right: 20px;

}

/* banner two third */
/*---------------------------*/

.banner-two-third-title {
	padding: 1em 0;
	border-bottom: 2px solid #dd1c60;
	border-top: 2px solid #dd1c60;
}

.banner-two-third-title h1 {
	font-family: 'Playfair Display', serif;
	text-shadow: 1px 1px 0px #000;
	color: #dd1c60;
	margin-bottom: 0;
	text-align: center;
}
.banner-two-third article h1 {
	font-size: 1.25em;
	font-weight: 300;
	margin-bottom: 0;
	margin-top:10px;
}

/*--------------------- EXPERTISE -------------------------------------*/
.banner-one-third-expertise  {
	background: url('../img/earth-D-improved.jpg');
	background-position: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 91vh;
	width: 105vw;
	background-attachment: fixed;
} /*-- Previous: 	background-color: #ddd; ---*/


.ptl-expertise {
	padding-top: 100px !important;
	padding-left: 77px !important;
}

.pbl-expertise {
	padding-bottom: 38px !important;
}

.banner-one-third-expertise article {
	display: inline-block;
	height: 13em;
	width: 15vw;
}

#spacing-1{
	width: 131px;
}

#title-spacing-1{
	width: 145px;
}


#Background{

	border: 0.1px solid white;
	padding: 2px;
	margin-left: 9px;
	margin-right: 13px;
	margin-top: 30px;
}

#Background-subsea{
	border: 0.1px solid white;
	padding: 2px;
	margin-left: 9px;
	margin-right: 13px;
	margin-top: -95px;
}

.banner-one-third-expertise h3:hover{
	transform: scale(1.06);
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	margin-top: 16px;
}

#Background:hover{
	background-color: rgba(7, 12, 44, 0.63);
}

#Background-subsea:hover{
	background-color: rgba(7, 12, 44, 0.63);
}
/* desktop */
@media (min-width: 900px) {
	/* banner full*/
	/*---------------------------*/
	.banner-full {
		padding: 0 0;  	/*----------version 1: 18em 12em ----------*/
	}

/*--------------------------------------- **********  COURSES 230  **************----------------------------------*/
.banner-full-secondary-courses-top {
	background-attachment: fixed;
	background-size: cover;
	padding: 1.7em 0;
	background-color: #fff;
}

.banner-full-secondary-courses {
	background-attachment: fixed;
	background-size: cover;
	padding: 3.6em 0;
	background-color: #fff;
}

.banner-full-secondary-courses-bottom {
	background-attachment: fixed;
	background-size: cover;
	padding: 2.2em 0;
	background-color: #fff;
}

.banner-one-third-courses  {
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}



.banner-one-third-courses article {
	display: inline-block;
}

.banner-one-third-courses figure {
	display: inline-block;
	cursor: pointer;
}

.banner-one-third-courses article img {
    max-width: 100%;
		height: auto;
}

.banner-one-third-courses figure img {
    min-width: 335px;
		height: auto;
}

.zoom-effect{
	position: relative;
	border: 1px transparent;
	overflow: hidden;
	width: 335px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

 .zoom-effect img{
 	max-width: 100%;
	width: 335px;
	height: 210px;

	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
 }


.zoom-effect:hover img {
   -moz-transform: scale(1.3);
   -webkit-transform: scale(1.3);
   transform: scale(1.3);
	 overflow: hidden;
 }

.zoom-effect figcaption{
	display: none;
	position: absolute;
	top: -35px;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(80, 96, 171, 0.18); /*1,3,16,0.53*/
	opacity: 1;
	-webkit-transition: 0.3s all ease;
	transition: 0.3s all ease;

}

.zoom-effect:hover figcaption{
	display: inline-block;
	opacity: 0.9;
	transform: scale(1.4);
	font-stretch: extra-expanded;
	padding-top: 53px;

	-webkit-transition: 0.3s all ease;
	transition: all 0.3s ease-in;

	-webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
	 -moz-animation: fadein 0.3s; /* Firefox < 16 */
		-ms-animation: fadein 0.3s; /* Internet Explorer */
		 -o-animation: fadein 0.3s; /* Opera < 12.1 */
				animation: fadein 0.3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}


#title-1{
	margin-left: 2.3px;
	margin-right: 0;
}

#title-2{
	margin-left: 9px;
  margin-right: -15px;
}

#title-3{
	margin-left: 17.5px;
  margin-right: -25px;
}

.ptl-courses {
	padding-top: 4.5em !important;
	padding-left: 1px !important;
}

.pbl-courses {
	padding-bottom: 5px !important;
}

#titles-space{
	padding-top: 20px;
}


#spacing-1-c{
	width: 48px;
}

#spacing-1-c-last{
	width: 121px;
}

#title-spacing-1{
	width: 154px;
}

/*---------   Stat section   ------------------*/
.stat-section {
	background-color: #F0F0F0;
}
.stat-section ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.stat-section li {
	border-bottom: 1px solid #ADADAD;
	margin-bottom: 20px;
}

.stat-section li:last-child {
	border-bottom: none;
}
.stat-section-description {
	font-size: 130%;
	margin-top: 1em;
}
.stat-section [class*="pe-"] {
	color: #dd1c60;
}

/* related list*/
/*---------------------------*/
.related-list section h1 {
	font-weight: 300;
	font-size: 1.5em;
}
.related-list article {
	border-bottom: 1px solid #ADADAD;
	padding-top: 10px;
}
.related-list article a {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

.related-list article h1 {
	font-weight: 300;
	font-size: 1em;
	margin-bottom: 0;
}
.related-list article img {
	float: left;
	width: 20%;
	margin: 0px 20px 0px 0;
}
/* newsletter*/
/*---------------------------*/
.founder {
	position: relative;
}
.founder form {
	position: absolute;
	padding: 0 20px;
	top: 35%;
	left: 0;
	right: 0;
}
/* footer*/
/*---------------------------*/
footer {
	background-color: #212121;
	padding: 20px 0 1px;
}
#totop {
	text-align: center;
	display: block;
	color: #fff;
	background: #dd1c60;
	/*dd1c60*/
	border-radius: 5px;
	padding: 1em 2em;
	margin-top: 20px;
	margin-bottom: 20px;
}
footer small {
	text-align: center;
	display: block;
}




/*---------------------------------------------*/
/* RWD*/
/*---------------------------------------------*/
@media (min-width: 481px) {
	#header {
		background: #fff;
    /*rgba(36, 36, 36, 0.66)*/
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}
	.logo {
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		margin-left: 5.1px;
	}
	.logo:hover {
		transform: scale(1.01);
	}

	.menu {
		height: auto;
		opacity: 1;

	}
	.menu ul {
		text-align: inherit;
		margin-right: 1.35em;
	}
	.menu li {
		display: inline-block;
	}
	.menu a {
		padding: 0.5em 1em;
		transition: all 0.1s ease-in-out;
		margin-left: 1.4em;
	}
	.menu a:hover {
		color: #10206e;
		/*version 1: #000080 */
		font-weight: bolder;
		text-decoration: underline;
	}

	.btn-menu {
		display: none;
	}
	/* banner full*/
	/*---------------------------*/
	.banner-full {
		padding: 0 0; /*---------version 1: 10em 0   -------------*/
	}

	/* banner one third*/
	/*---------------------------*/
	.banner-one-third article {
	    height: 230px;
	}
	.banner-one-third article img {
	    display: block;
	    width: 91.3%;
	    margin-top: -35%;
	}
	/* banner two third */
	/*---------------------------*/
	.banner-two-third img {
		width: 100%;
	}
	.banner-two-third-title-first {
		background: url('../img/women.jpg') no-repeat;

	}
	.banner-two-third-title-second {
		background: url('../img/men.jpg') no-repeat;

	}
	.banner-two-third-title {
		background-size: 100%;
		background-position: 50%;
		padding: 10% 0;
		border-bottom: none;
		border-top: none;
	}
	.grid [class*="col-"].right {
		float: right;
	}
	/* Stat section */
	/*---------------------------*/
	.stat-section li {
		border-bottom: none;
		border-right: 1px solid #ADADAD;
	}

	.stat-section li:nth-child(2) {
		border-right: none;
	}
	.stat-section li:last-child {
		border-right: none;
	}

/* footer*/
/*---------------------------*/
	footer {
		padding: 75px 0;
	}
	#totop {
		text-align: right;
		display: block;
		color: #dd1c60;
		background: none;
		border-radius: 0px;
		padding: 0;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	footer small {
		text-align: left;
	}

}
@media (min-width: 481px) and (max-width: 600px) {
	.menu a {
		padding: 0.5em .8em;
	}
}
/* small screen */

@media (min-width: 769px) {
	#header {
		position: fixed;

	}
	/* banner full*/
	/*---------------------------*/
	.banner-full {
		background-attachment: fixed;
		background-size: cover;
		padding: 15em 0;
	}
	/* banner full secondary*/
	/*---------------------------*/
	.banner-full-secondary-top {
		background-attachment: fixed;
		background-size: cover;
		padding: 2.1em 0;
	}

	.banner-full-secondary {
		background-attachment: fixed;
		background-size: cover;
		padding: 1.5em 0;
	}

	.banner-full-secondary-bottom {
		background-attachment: fixed;
		background-size: cover;
		padding: 2.8em 0;
	}


	/* banner one third*/
	/*---------------------------*/
	.banner-one-third article img {
	    margin-top: 0;
	}
	.banner-one-third article h1 {
	    margin-top: 17%;
	}
	.banner-one-third article a:hover {
		background-color: rgba(0,0,0,0.7);
	}
	/* banner two third */
	/*---------------------------*/
	.banner-two-third-title {
	    padding: 44% 0;
	}
	/* related list*/
	/*---------------------------*/
	.related-list article a {
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.related-list article a:hover {
		background-color: #DFDFDF;
	}
	/* Stat section */
	/*---------------------------*/
	.stat-section li:first-child {
		border-left: 1px solid #ADADAD;
	}

	.stat-section li:nth-child(2) {
		border-right: 1px solid #ADADAD;
	}
	.stat-section li:last-child {
		border-right: 1px solid #ADADAD;
	}

}

/* desktop */
@media (min-width: 900px) {
	/* banner full*/
	/*---------------------------*/
	.banner-full {
		padding: 18em 12em;
	}
	.banner-one-third article {

	    height: auto;
	}
	.banner-one-third article h1 {
	    margin-top: 30%;
	}
}


/* tablet orientation landscape */

@media (min-width: 769px) and (max-width: 1024px) and (orientation:landscape) {

	/* banner full*/
	/*---------------------------*/
	.banner-full {
		background-attachment: initial;
		background-size: 100%;
		padding: 0 0; /*----------PREVIOUS:  10em 0 -------------*/
	}
	/* banner full secondary*/
	/*---------------------------*/
	.banner-full-secondary {
		background-attachment: initial;
		background-size: 100%;
		padding: 0 0; /*----------PREVIOUS:  10em 0 -------------*/
	}


}
